/* You can add global styles to this file, and also import other style files */

body {
  background-color: #303040;
  color: whitesmoke;
}

.navbar {
  background-color: #303040 !important;
  color: whitesmoke !important;;
}

.navbar-brand {
  color: whitesmoke !important;;
}

a, a:hover, a:visited {
  color: whitesmoke;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
